<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>{{ page.title }}</title>
    <link rel="stylesheet/less" type="text/css" href="assets/main.less">
    <script src="assets/components/less.js/dist/less.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      var github = {{ site.github | jsonify | default: undefined }};
    </script>
  </head>
  <body class="{{ page.type }}">
    <a href="{{ site.github.repository_url }}">
      <img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" />
    </a>

    <div id="container">
      <div class="download">
        <a href="{{ site.github.repository_url }}/zipball/master">
          <img border="0" width="90" src="https://github.com/images/modules/download/zip.png">
        </a>
        <a href="{{ site.github.tar_url }}/tarball/master">
          <img border="0" width="90" src="https://github.com/images/modules/download/tar.png">
        </a>
      </div>

      <h1><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a>
        <span class="small">by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>
        </span>
      </h1>

      <div class="description">
        {{ site.github.project_tagline }}
      </div>

      {{ content }}

      <div class="footer">
        get the source code on GitHub : <a href="{{ site.github.repository_url }}">{{ site.github.repository_nwo }}</a>
      </div>

    </div>

  </body>
</html>
